### 쉘모드 변경

+Code 셀 변경 : esc > y

+ Markdown 셀 변경 : esc > m
    -마크다운쉘은 문서 만들기

# 서울 하철 평균이용객 수 분석

## 이용자가 많은 지하철역은?

+ 강남
+ 홍대

     - 성수
     - 합정

* 별표 하나는 번호없는 목록

*별표로 감싸면 기울기이( 주의-별표와 띄어쓰기 없어야함)*

**별표 2개로 감싸면 굵기**

***별표세개는? 기울기+굵기***

가로선 --- 이면

---

인용문으로 >

> 인용문

<div align='center'> 헬로우 월드 html 태그 먹힘<div>
<img src='dataset/puppy.jpg'>
    
[링크걸기](http://www.naver.com)

[![텍스트](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](http://www.naver.com)

In [1]:
##도움말 쉬프트+탭

In [2]:
import pandas

p1 = pandas.read_csv('dataset/subway_data1.csv', encoding='utf-8')

In [3]:
p1

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
..  ...     ...         ...      ...
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]