In [5]:
# Series 연산
from pandas import Series

s1 = Series([10, 15, 20], index=['일','이','삼'])
s2 = Series([2,4,6,8], index=['일','이','삼','사'])
print(s1)
s2

일    10
이    15
삼    20
dtype: int64

일    2
이    4
삼    6
사    8
dtype: int64

In [2]:
s3 = Series([1,2,3],index=['1줄','2줄','3줄'])

In [6]:
# DataFrame 연산

from pandas import DataFrame
import numpy as np

df1 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])
df2 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])

In [7]:
df1 + df2

       0  1  2
one    0  0  0
two    0  0  0
three  0  0  0

In [9]:
df3 = DataFrame(np.ones((4,4), dtype='int32'), index=['one','two','three','four'])

In [11]:
df3.add(df1, fill_value=True)

         0    1    2    3
four   2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  2.0
three  1.0  1.0  1.0  2.0
two    1.0  1.0  1.0  2.0

문자열이 있는 데이타프레임의 연산

In [5]:
mydata = {
          'name':['홍길동','박길동','김길동'], 
          'age':[22,33,44], 
          'dept':['컴공','국어','산업']
         }