## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [1]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])

In [14]:
# 결측치 만들기 ( NaN, nan)
df.loc['A',2] = '

In [2]:
# 누적합을 구할 때
df.cumsum()

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  2.0  2.0  2.0  2.0
C  3.0  3.0  3.0  3.0
D  4.0  4.0  4.0  4.0

In [4]:
df.isnull()

       0      1      2      3
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False