In [8]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [10]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

In [13]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
def my_fun1(x):
    return x**2
def my_fun2(x,n):
    return x**n

my_fun1(df['a'])
my_fun2(df['a'],2)

df.apply(my_fun1)
df['a'].apply(my_fun2(2))

TypeError: my_fun2() missing 1 required positional argument: 'n'

In [19]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

result = df.apply(my_fun3, axis='index')
result

a    60
b    12
dtype: int64

In [39]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade
df['result'] = df['a'].apply(func)

df

    a  b result
0  10  2      C
1  20  4      B
2  30  6      A

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [26]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.

customer = pd.read_csv('./data/customer.csv', index_col = "Name")
customer

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled

In [58]:
def fun2(col):
    if col['price'] >= 500 and col['state']=='confirmed':
        grade = 'VIP'
    else:
        grade = 'non-VIP'
    return grade

customer['grade'] = customer.apply(fun2, axis=1 )
customer

            date  price      state   result    grade
Name
Kang  2017-01-01    500  confirmed      VIP      VIP
Kim   2017-01-03    700  confirmed      VIP      VIP
Choi  2017-01-03    900  confirmed      VIP      VIP
Park  2017-01-05    800  confirmed      VIP      VIP
Lee   2017-01-07    500   canceled      VIP  non-VIP
Yoon  2017-01-09    700  confirmed      VIP      VIP
Jang  2017-01-09    600   canceled      VIP  non-VIP
Ko    2017-01-10    200   canceled  non-VIP  non-VIP